<body>
<div class="container">
<br>
<br>
        <div class="row">
            <div class="col-md-10 mt-3">
                <h4 style="text-align:center;"> Informations about reservations for current user </h4>
            <div>
                 <table>
                <tr><th>Start at</th><th>totalPrice</th><th>End at</th><th>Days</th><th>Num of guests</th><th>Rental</th></tr>
                    <tr *ngFor="let b of user.bookings">
                      <td>{{b.startAt}}</td>
                      <td>{{b.totalPrice}}</td>
                      <td>{{b.endAt}}</td>
                      <td>{{b.days}}</td>
                      <td>{{b.guests}}</td>
                      <td>{{b.rental}}</td>
                </tr>
               </table>
    
            </div>
</div>
