<body>
<div class="container">
<br>
<br>
        <div class="row">
            <div class="col-md-10 mt-3">
                <h4 style="text-align:center;"> Informations about stays for current user </h4>
            <div>
                 <table>
                <tr><th>Rentals</th></tr>
                    <tr *ngFor="let r of user.rentals">
                      <td>{{r}}</td>
                </tr>
               </table>
    
            </div>
</div>
