<div class="container">
    <br>
    <br>
<section id="login">
    <div class="bwm-form border border-pdark">
        <div class="row">
            <div class="col-md-5">
              <h1 class="page-title" style="font-family: 'Karla', sans-serif; font-weight: lighter;">REGISTER</h1>
        <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" name="name" id="name" class="form-control" formControlName="name">
            </div>

            <p class="error-message" *ngIf="name().errors?.required">Name is required</p>
            <p class="error-message" *ngIf="name().errors?.pattern">Name must start with uppercase letter and be at least 2 charachters long.</p>

            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" name="surname" id="surname" class="form-control" formControlName="surname">
            </div>

            <p class="error-message" *ngIf="surname().errors?.required">Surname is required</p>
            <p class="error-message" *ngIf="surname().errors?.pattern">Surname must start with uppercase letter and be at least 2 charachters long.</p>


            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" class="form-control" formControlName="email">
            </div>

            <p class="error-message" *ngIf="email().errors?.required">E-mail is required</p>
            <p class="error-message" *ngIf="email().errors?.email">Email is not correct.</p>

            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" name="username" id="username" class="form-control" formControlName="username">
            </div>
         
            <p class="error-message" *ngIf="username().errors?.required">Username is required</p>
            <p class="error-message" *ngIf="username().errors?.minlength">Username should be at least 5 charachters long.</p>
            <p class="error-message" *ngIf="username().errors?.maxlength">Username should not be longer than 15 charachters.</p>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" formControlName="password">
            </div>

            <p class="error-message" *ngIf="password().errors?.required">Password is required</p>
            <p class="error-message" *ngIf="password().errors?.pattern">Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                letter and 1 number. </p>

            <div class="form-group">
                <label for="confirmPassword && submitted">Confirm password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" formControlName="confirmPassword">
            </div>

            <p class="error-message" *ngIf="confirmPassword().errors?.required">Confirm password is required</p>
            <p class="error-message" *ngIf="confirmPassword().errors?.unconfirmedPassword">Password should be the same as first.</p>

        
            <div class="form-group col-md-4">
                <label for="gender">Gender</label>
                <select id="gender" class="form-control" formControlName ="gender">
                 <option value="male">male</option>
                 <option value="female">female</option>
                </select>
              </div>
              <div class="form-group" >
                  <label for="userRole">Role:</label>
                  <div class="form-control">
                      <label class="radio-inline col-md-4" >
                        <input type="radio" value="guest" name="userRole" formControlName="userRole">
                        Guest 
                     </label>
                     <label class="radio-inline col-md-4">
                        <input type="radio" value="host" name="userRole" formControlName="userRole">
                        Host
                     </label>
                  </div>
              </div>
              
                
            <button type="submit" [disabled]="!registerForm.valid" class="btn btn-secondary" style="background: -webkit-linear-gradient(left, #ACB595, #7B8791);">SUBMIT</button>
        </form>
        </div>
        <div class="col-md-6 ml-auto">
         <div class="container">
            <img class="rounded" src="assets/img/background.jpg" alt="" style="width: 525px; height: 800px;">
            <div class="bottom-left" style="position:absolute; top: 8px;color: #fff;text-align: center;">
                <h6>Already have an account?</h6>
                <p>Click here to sign in and explore a lot of awesome places in reach of few clicks.</p>
                <button [routerLink]="['/login']" class="btn btn-secondary" style="background: transparent;color:fff; border-color: honeydew; ">SIGN IN</button>
            </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <br>
  <br>
</div>
